.filter{
    display:flex;
    flex-direction:column;
    gap:10px;
    h2{
        font-weight:300;
        font-size:24px;
    }
    .item{
        display:flex;
        flex-direction:column;
        gap:5px;
    }
    label{
        font-size:14px;
        font-weight:600;
    }
    input,
    select{
        width:110px;
        padding:10px 5px;
        border:1px solid #e0e0e0;
        border-radius:5px;
        font-size:14px;
    }
    .top{
        input{
            width:100%;
        }
    }
    .bottom{
        display:flex;
        justify-content:space-between;
        align-items:center;
        button{
           width:60px;
           padding:10px;
           border:none;
           background-color: #fece51;
           cursor:pointer;
        }
    }
}